*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
.ruby-gemset

# YARD artifacts
.yardoc
_yardoc
doc/
quickfix.out
*.swp
*.swo
.env

# to keep out api keys and secrets
spec/support/cassettes/**
